@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif, Inter;
}

.nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    background-color: #003C0E;
    z-index: 1000;
    width: 100%;
}

.nav-links {
    color: #fff;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.links {
    display: flex;
    gap: 20px;
}

.links li {
    list-style: none;
    margin: 0 5px;
}

.links a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 5px;
    transition: all 0.1s ease;
    font-family: Inter;
}

.links a:hover {
    color: #f1c658;
    border-bottom: 3px solid #f1c658;
    border-radius: 5px;
}

.links a.active {
    color: #f1c658;
    border-bottom: 3px solid #f1c658;
    border-radius: 5px;
}

.banner {
  position: relative;
  height: 100vh; /* Full screen height */
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center; /* Vertical center */
  text-align: center;
  color: white;
  overflow: hidden;
}
.banner-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.video-slider {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.video-slide {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 0;
  pointer-events: none;
}

.video-slide.active {
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Keep video behind text */
}

.banner-content {
  position: relative;
  z-index: 2;
  color: #f1c658;
  padding: 0 20px;
}

.agri {
  width: 80%;
  margin-bottom: -30px;
}

.banner .banner-content h2 {
    font-size: 5.5rem;
    font-weight: 500;
    text-transform: uppercase;
    font-family: inter;
    line-height:110px;
    color: #f1c658;;
}

.banner .banner-content p {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: inter;
    color: #f1c658;
    margin: auto;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* dark overlay */
  z-index: 1;
}

.banner-content {
  color: white;
  position: relative;
  z-index: 2;
}

.banner-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background-color: green;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex; /* Always flex */
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.dialog-box {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  max-width: 90%;
  width: 400px;
  font-family: Inter, sans-serif;
  transform: scale(0.9);
  opacity: 0;
  transition: all 0.3s ease;
}

.dialog-box p {
  margin-bottom: 20px;
  color: #003C0E;
  font-size: 20px;
}

.dialog-box button {
  padding: 10px 20px;
  background-color: #003C0E;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dialog-box button:hover {
  background-color: #E5AB07;
  color: #003C0E;
}

.dialog-overlay.show {
  opacity: 1;
  pointer-events: all;
}

.dialog-overlay.show .dialog-box {
  transform: scale(1);
  opacity: 1;
}

/* Responsive: hide nav and show icon on small screens */
@media (max-width: 1000px) {
    .nav {
        padding: 10px 50px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #003C0E;
        color: #fff;
        position: absolute;
        top: 70px; /* below header */
        right: 20px;
        width: 200px;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        z-index: 100;
    }

    .agri {
      width: 80%;
      margin-bottom: -30px;
    }

    .nav-links.show {
        display: flex;
    }

    .links a {
        padding: 5px;
    }

    .links a:hover {
        color: #E5AB07;
        border-bottom: 3px solid #E5AB07;
        border-radius: 5px;
    }

    .menu-icon {
        display: block;
    }

    .links {
        flex-direction: column;
        gap: 15px;
    }
}

@media (max-width: 950px) {
    .banner .banner-content h2 {
        font-size: 5rem;
        font-weight: 400;
        line-height:80px;
        margin-top: 10px;
    }

    .banner .banner-content p {
        font-size: 14px;
        font-weight: 500;
    }
}


@media (max-width: 900px) {
    .banner .banner-content h2 {
        font-size: 4.5rem;
        font-weight: 400;
        line-height:80px;
        margin-top: 10px;
    }

    .banner .banner-content p {
        font-size: 14px;
        font-weight: 500;
    }
}

@media (max-width: 850px) {
    .banner .banner-content h2 {
        font-size: 4rem;
        font-weight: 500;
        line-height:80px;
        margin-top: 10px;
    }

    .banner .banner-content p {
        font-size: 14px;
        font-weight: 500;
    }
}

@media (max-width: 800px) {
    .banner .banner-content h2 {
        font-size: 4rem;
        font-weight: 500;
        line-height:80px;
        margin-top: 10px;
    }

    .banner .banner-content p {
        font-size: 14px;
        font-weight: 500;
    }
}

@media (max-width: 750px) {
    .banner .banner-content h2 {
        font-size: 4rem;
        font-weight: 500;
        line-height:80px;
        margin-top: 10px;
    }

    .banner .banner-content p {
        font-size: 14px;
        font-weight: 500;
    }
}


@media (max-width: 700px) {
    .banner .banner-content h2 {
        font-size: 2.5;
        font-weight: 500;
        line-height:80px;
        margin-top: 15px;
    }

    .banner .banner-content p {
        font-size: 10px;
        font-weight: 500;
        width: 80%;
        
    }
}

@media (max-width: 650px) {
    .banner .banner-content h2 {
        font-size: 3rem;
        font-weight: 500;
        line-height:80px;
        margin-top: 10px;
    }

    .banner .banner-content p {
        font-size: 14px;
        font-weight: 500;
    }
}

@media (max-width: 600px) {
    .banner .banner-content h2 {
        font-size: 2.5rem;
        font-weight: 500;
        line-height:40px;
        margin-top: 20px;
    }

    .banner .banner-content p {
        font-size: 10px;
        font-weight: 500;
        width: 70%;
        
    }
}

@media (max-width: 500px) {
    .banner .banner-content h2 {
        font-size: 2.1rem;
        font-weight: 500;
        line-height:40px;
        margin-top: 20px;
    }

    .banner .banner-content p {
        font-size: 10px;
        font-weight: 500;
        width: 70%;
        
    }
}

@media (max-width: 400px) {
    .banner .banner-content h2 {
        font-size: 2rem;
        font-weight: 500;
        line-height:40px;
        margin-top: 20px;
    }

    .banner .banner-content p {
        font-size: 10px;
        font-weight: 500;
        width: 70%;
        
    }
}