@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif, Inter;
  text-decoration: none;
  list-style-type: none;
}

h2 {
  font-size: 2.5em;
}

html {
  scroll-behavior: smooth;
}

/* HEADER SECTION START */
.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background-color: #39250A;
  z-index: 1000;
  width: 100%;
  box-shadow: 0px 15px 25px black;
}

.nav-links {
  color: #fff;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.links {
  display: flex;
  gap: 20px;
}

.links li {
  list-style: none;
  margin: 0 5px;
}

.links a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  padding: 10px 5px;
  transition: all 0.1s ease;
  font-family: Inter;
}

.links .cart {
  border: 1px solid #E5AB07;
  border-radius: 5px;
  padding: 5px;
  color: #E5AB07;
  transition: all 0.3s ease-in-out;
}

.links .cart:hover {
  border: 1px solid #ffff00;
  border-radius: 5px;
  color: #ffff00;
}

.links .link:hover {
  color: #f1c658;
  border-bottom: 3px solid #f1c658;
  border-radius: 5px;
}

.links .link.active {
  color: #f1c658;
  border-bottom: 3px solid #f1c658;
  border-radius: 5px;
}

/* Responsive Header */
@media (max-width: 1000px) {
  .nav {
    padding: 10px 50px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #003C0E;
    color: #fff;
    position: absolute;
    top: 70px; /* below header */
    right: 20px;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }

  .agri {
    width: 70%;
  }

  .nav-links.show {
    display: flex;
  }

  .links .link {
    padding: 5px;
  }

  .links .link:hover {
    color: #E5AB07;
    border-bottom: 3px solid #E5AB07;
    border-radius: 5px;
  }

  .menu-icon {
    display: block;
  }

  .links {
    flex-direction: column;
    gap: 15px;
  }

  .links .cart {
  border: 1px solid #E5AB07;
  border-radius: 5px;
  padding: 5px;
  color: #E5AB07;
  transition: all 0.3s ease-in-out;
}
}
/* HEADER SECTION END */

/* BANNER SECTION START */
.banner {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  overflow: hidden;
}

.banner-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.video-slider {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.video-slide {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 0;
  pointer-events: none;
}

.video-slide.active {
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
}

.banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Keep video behind text */
}

.banner-content {
  position: relative;
  z-index: 2;
  color: #f1c658;
  padding: 0 20px;
}

.agri {
  width: 60%;
}

.banner .banner-content p {
  font-size: 2rem;
  font-family: inter;
  color: #f1c658;
  margin: 10px auto;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* dark overlay */
  z-index: 1;
}

.banner-content {
  color: white;
  position: relative;
  z-index: 2;
}

.banner-btn {
  display: inline-block;
  padding: 14px 30px;
  background-color: #39250A;
  color: #BA8323;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 1rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.banner-btn:hover {
  color: #fff;
}

/* Responsive Banner */
@media (max-width: 1000px) {
  .agri {
    width: 70%;
  }
  .banner .banner-content p {
    font-size: 1.5rem;
  }
}

@media (max-width: 700px) {
  .agri {
    width: 100%;
  }

  .banner .banner-content p {
    font-size: 1rem;
  }
}
/* BANNER SECTION END */

/* OUR ANIMAL & CROPS SECTION START */
.animal-section {
  font-family: 'Courier New', Courier, monospace;
  background-color: #D7BC98;
  overflow: hidden;
  padding-top: 60px;
}

.animal-section h2 {
  color: #39250A;
  font-size: 3em;
  font-weight: 900;
  text-align: center;
  margin: 50px 0 0 0;
}

.animal-section .small {
  font-size: 1.3rem;
  text-align: center;
}

.animals {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 2rem;
  padding-top: 30px;
  margin: 100px 40px 30px 40px; 
}

.animal {
  position: relative;
  background: #BA8323;
  border-radius: 10px;
  margin-bottom: 90px;
  padding: 50px 15px; 
  text-align: center;
  width: 100%;
  box-shadow: 5px 5px 10px black;
  transition: all 0.3s ease-in-out;
}

.animal:hover {
  background-color:  #39250A;
  color: #fff;
}

.animal:hover .more {
  background-color:  #39250A;
  color: #BA8323;
  border: 2px solid #BA8323;
}

.animal-icon {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  background: #D7BC98;
  border: 2px solid #39250A;
  display: flex;
  font-size: 80px;
  align-items: center;
  justify-content: center;
  transition: all .3s ease-in-out;
}

.animal-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.animal h3 {
  font-size: 1.5em;
  font-weight: 900;
  font-family: Inter;
  margin: 20px 0 0 0;
}

.animal-section .animals .animal p {
  flex: 1;
  margin: 10px 0;
  font-size: 1rem;
  line-height: 20px;
}

.animal .more {
  position: absolute;
  bottom: 10px;
  left: 15px;
  font-size: 0.9rem;
  cursor: pointer;
  font-size: 16px;
  border: 2px solid #003C0E;
  border-radius: 5px;
  padding: 5px;
  transition: .3s ease-in-out;
}

.animal .more:hover {
  background-color: #003C0E;
  color: #fff;
  border: 2px solid #fff;
}

/* Responsive Layout for Our Animals & crops */
@media (max-width: 1000px) {

  .animals {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}

@media (max-width: 700px) {

  .animals {
    padding-top: 0;
    margin-top: 90px; 
  }

  .animals {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  } 

  .animal {
    width: 90%;
    margin: 40px auto;
  }
}
/* OUR ANIMAL & CROPS SECTION END */

/* ABOUT US SECTION START */
.aboutus {
    background-color: #4B2E16;
    color: #fff;
    padding: 70px 50px;
    align-content: center;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.aboutus h2 {
  color: #D4A76A;
  text-align: center;
  font-size: 3rem;
  margin: 50px;
}

.contents {
  display: flex;
  align-items: center;
  padding: 50px 0;
}

.content {
  flex: 1;
  background-color: #39250A;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.note h3 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #fff;
}

.note p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #dcdcdc;
  text-align: justify;
}

.cards > div {
    flex: 0 0 calc(33.333% - 10px);
    box-sizing: border-box;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  columns: 3;
  gap: 5px;
  align-items: stretch;
  flex: 1;
}

.cards img {
  display: block;
  width: 100%;
  display: block;
  object-fit: cover;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
}

/* Rsponsive About Us */
@media screen and (max-width: 900px) {

  .aboutus {
    padding: 70px 10px;
  }
  .contents {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .cards {
    grid-template-columns: repeat(2, auto);
  }
}
/* ABOUT US SECTION END */

/* PRICING SECTION START */
.pricing-section {
  padding: 50px 20px;
  background-color: #D4A76A;
}

.pricing-section h2{
  font-size: 3em;
  font-weight: 900;
  text-align: center;
  margin: 50px;
}

.pricing-section .container-pricing {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 1rem;
}

.container-pricing .unit-item .item:hover {
  background-color: #39250A;
}

.container-pricing .unit-item .item:hover .item-name,
.container-pricing .unit-item .item:hover .price,
.container-pricing .unit-item .item:hover .price span {
  color: #D7BC98;
}

.container-pricing .unit-item .item {
  margin: 20px;
  background-color: #BA8323;
  border-radius: 10px;
  padding: 15px;
  color: #D7BC98;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.container-pricing .item-image {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  background-size: cover;
  background-position: cover;
  background-repeat: no-repeat;
}

.container-pricing .item .item-name {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  color: #39250A;
  transition: all 0.3s ease-in-out;
}

.container-pricing .item .price {
  margin-top: 10px;
  font-size: 2rem;
  color: #39250A;
  transition: all 0.3s ease-in-out;
}

.price span {
  font-size: 1.5rem;
  font-weight: 0;
  color: #39250A;
  transition: all 0.3s ease-in-out;
}

.more-product {
  text-align: center;
}

.more-product a {
  display: inline-block;
  padding: 14px 30px;
  background-color: #BA8323;
  color: #39250A ;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 1rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.more-product a:hover {
  background-color: #39250A;
  color: #BA8323 ;
}

/* .basket {
  color: #BA8323;
  transition: all 0.2s ease-in-out;
} */

/* .basket:hover {
  color: #f1c658;
} */

/* .quantity {
  margin: 10px 0 0 0;
  padding: 5px 10px;
  font-size: 1rem;
  color: #39250A;
  background-color: #BA8323;
  border: none;
  border-radius: 5px;
  outline: none;
} */

.quantity-available{
  color: #E5AB07;
  font-weight: none;
  font-size: 1rem;
}

/* Responsive Pricing Section */

@media (max-width: 1300px) {
  .pricing-section .container-pricing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 1rem;
  }
}

@media (max-width: 980px) {
  .pricing-section .container-pricing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 1rem;
  }
}

@media (max-width: 630px) {
  .pricing-section .container-pricing {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .container-pricing .item {
    margin: 0;
  }
}

/* PRICING SECTION END */

/* GALLERY SECTION START */
.gallery {
  font-family: 'Muli', sans-serif;
  margin: 0;
  background-color: #D7BC98;
  overflow: hidden;
  padding: 60px 0 60px 0;
}

.gallery h2 {
  color: #39250A;
  text-align: center;
  padding: 50px 0;
  font-size: 3em;
  font-weight: 900;
}

.container-card {
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  margin: 0 5px;
  position: relative;
}

.container-card button {
  border: none;
  outline: none;
}

.ex-cards {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
  height: 70vh;
  margin: 0 35px;
}

.ex-cards::-webkit-scrollbar {
  display: none;
}

.panel {
  flex: 0 0 100px;
  width: 100px;
  margin: 10px;
  background-color: #39250A;
  background-size: cover;
  background-position: cover;
  background-repeat: no-repeat;
  color: #fff;
  cursor: pointer;
  position: relative;
  transition: transform 0.7s ease, flex 0.7s ease;
  border-radius: 50px;
}

.panel h3 {
  font-size: 1rem;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  padding: 5px;
  border-radius: 5px;
  text-shadow: 1px 2px 1px black;
}

.panel.active {
  flex: 0 0 650px;
  width: 650px;

}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.8s ease-in 0.4s;
  color: #fff;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  z-index: 10;
}

.arrow.left {
  left: 10px;
}  

.arrow.right {
  right: 10px;
}

@media (max-width: 1200px) {
  .container {
    width: 100vw;
  }

  .panel {
    flex: 0 0 30px;
    width: 20px;
    margin: 5px;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: transform 0.7s ease, flex 0.7s ease;
  }

  .panel.active {
    flex: 0 0 400px;
    width: 400px;
    }

}

@media (max-width: 1000px) {

  .ex-cards {
    margin: 0 15px;
  }

  .panel {
    flex: 0 0 100%;
    min-width: 100%;
    margin: 2px;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: transform 0.7s ease, flex 0.7s ease;
  }

  .panel.active {
    flex: 0 0 250px;
    width:250px;
    }

}
/* GALLERY SECTION END */




/* Responsive section End */

/* Dialog Box Start */
.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex; /* Always flex */
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.dialog-box {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  max-width: 90%;
  width: 400px;
  font-family: Inter, sans-serif;
  transform: scale(0.9);
  opacity: 0;
  transition: all 0.3s ease;
}

.dialog-box p {
  margin-bottom: 20px;
  color: #003C0E;
  font-size: 20px;
}

.dialog-box button {
  padding: 10px 20px;
  background-color: #003C0E;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dialog-box button:hover {
  background-color: #E5AB07;
  color: #003C0E;
}

.dialog-overlay.show {
  opacity: 1;
  pointer-events: all;
}

.dialog-overlay.show .dialog-box {
  transform: scale(1);
  opacity: 1;
}
/* Dialog Box End */